{minimum_otp_vsn, "19.1"}.

{erl_opts, [warnings_as_errors,
            warn_export_all,
            warn_unused_import]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{deps, [
        {cowboy,
         {git, "git://github.com/ninenines/cowboy", {tag, "2.0.0-pre.3"}}},

        {uuid,
         {git, "git://github.com/okeuday/uuid", {tag, "v1.5.4"}}},

        {jsone,
         {git, "git://github.com/sile/jsone", {tag, "1.4.0"}}}
       ]}.


{relx, [
        {release, {step6, "0.1.0"},
         [
          ranch,
          cowboy,
          jsone,
          uuid,

          {step6, permanent}
         ]},
        {include_src, false},

        {generate_start_script, true}
       ]}.


{profiles,
 [
  {dev,
   [
    {relx, [
            {release, {step6, "0.1.0"},
             [
              ranch,
              cowboy,
              jsone,
              uuid,

              {step6, permanent}
             ]},

            {extended_start_script, false},

            {dev_mode, true}
           ]}
   ]}
 ]}.
